*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav p {
    font-weight: bold;
}

nav button {
    padding: .3rem .5rem;
    cursor: pointer;
}

.container {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: grid;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.container div {
    /* border: 1px solid #f3f3f3; */
    width: auto;
    height: auto;
}